/* All */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    -ms-background-color: white;
    -moz-background-color: white;
    -webkit-background-color: white;
}

/* Header */
.header {
    margin: 10px;
    position: relative;
}

.header-image-back {
  position: absolute;
}

.header-image {
  z-index: 999;
}

/* Navbar container */
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    margin: 10px;
    border-bottom: 2px solid white;
}
  
/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 18px;
    color: rgb(150, 40, 40);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid white;
}

@media screen and (max-width: 600px) {
  .navbar a {
      float: none;
      width: 100%;
  }
}
  
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: rgb(150, 40, 40);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    border-bottom: 2px solid rgb(150, 40, 40);
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: rgb(150, 40, 40);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(150, 40, 40);
    color: white;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Skills Bar */

#skills {
  margin: 50px 0px;
}

.skillsone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 10px;
}

.skilltree, .skillinfo {
  width: 40%;
  margin: 20px 0;
}

@media screen and (max-width: 1000px) {
  .skilltree, .skillinfo {
    width: 100%;
  }
}

.skillinfo {
  text-align: justify;
  color: rgb(150, 40, 40);
  line-height: 1.5;
}

.skills {
  margin: 10px;
}

.skills h1 {
  color: rgb(150, 40, 40);
  margin: 25px 0px;
  text-align: left;
}

.skills li {
  list-style: none;
  margin: 20px 10px;
}

.skills li p{
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(150, 40, 40);
}

.bar {
  background: rgb(150, 40, 40, 0.2);
  display: block;
  height: 20px;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.bar span {
  height: 16px;
  float: left;
  background: rgb(150,40,40);
  border-radius: 10px;
}

.html {
  width: 95%;
  animation: baranim 10s;
}

.css {
  width: 95%;
  animation: baranim 10s;
}

.c {
  width: 50%;
  animation: baranim 10s;
}

.javascript {
  width: 25%;
  animation: baranim 10s;
}

.php {
  width: 20%;
  animation: baranim 10s;
}

.premiere {
  width: 70%;
  animation: baranim 10s;
}

.unity {
  width: 70%;
  animation: baranim 10s;
}

.dsmax {
  width: 40%;
  animation: baranim 10s;
}

.blender {
  width: 45%;
  animation: baranim 10s;
}

.illustrator {
  width: 70%;
  animation: baranim 10s;
}

.photoshop {
  width: 50%;
  animation: baranim 10s;
}

.xd {
  width: 70%;
  animation: baranim 10s;
}

.aftereffects {
  width: 25%;
  animation: baranim 10s;
}

@keyframes baranim {
  0%{width: 0%;}
}

/* Showreel */

.show {
  margin: 0 10px 10% 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#show {
  margin-top: 10%;
  text-align: center;
  color: rgb(150, 40, 40);
  float: none;
}

.showreel {
  margin: 30px 0px;
  background-color: rgb(150, 40, 40);
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .showreel {
    width: 100%;
  }
}

.showreel iframe {
  margin: 30px;
}

/* Main Projects */

#mainprojects {
  margin: 50px 0px;
}

.projects h1 {
  text-align: left;
  color: rgb(150, 40, 40);
  margin: 0px 0px 50px 0px;
}

.mainprojects {
  margin: 10% 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.mainprojects-video {
  background-color: rgb(150, 40, 40);
  text-align: center;
}

.mainprojects-video, .mainprojects-info {
  width: 40%;
  margin: 50px 10px;
}

@media screen and (max-width: 1000px) {
  .mainprojects-video, .mainprojects-info {
    width: 100%;
  }
}

.mainprojects iframe {
  margin: 20px;
}

.mainprojects-info p {
  text-align: justify;
  color: rgb(150, 40, 40);
  line-height: 1.5;
  margin: 20px 0px 50px 0px;
}

.info-icons img {
  margin: 0px 10px;
}

.tags {
	background-color:rgb(150, 40, 40);
	border-radius:42px;
	border:1px solid rgb(120, 30, 30);
	cursor: pointer;
	color:#ffffff;
	padding:5px 10px;
  text-decoration:none;
  margin: 10px 2px;
}

.tags:hover {
  background-color:#ffffff;
  color:rgb(150, 40, 40);
}

/* Footer */

.footer {
  margin: 50px 10px 0px 10px;
}

.backtotop {
  text-align: center;
  margin: 50px 0px 0px 0px;
}

.backtotop a {
  color: rgb(150, 40, 40);
}

.socials {
  color: rgb(150, 40, 40);
  text-align: center;
  margin: 20px 0px;
}

.socials img {
  margin: 0px 10px;
}

.footerinfo {
  color: rgb(150, 40, 40);
  text-align: center;
}